:root {
    --orange: #ff6600;
    --nav-height: 2.5rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    background-color: #efefef;
    color: #222;
}

body * {
    box-sizing: border-box;
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--nav-height);
    width: 100%;
    background-color: var(--orange);
    z-index: 3;
    box-shadow: 0 2px 7px rgba(0,0,0,0.3);
}

main {
    padding-top: calc(var(--nav-height) + 0.5rem);
    display: block;
}

footer {
    background-color: #fafafa;
    width: 100%;
    height: 7rem;
    margin-top: 2rem;
}

/* NAV */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
nav > * {
    display: flex;
    height: 100%;
    align-items: center;
}
nav a {
    text-decoration: none;
}
.left {
    padding-left: 0.5rem;
    flex-basis: 75%;
    justify-content: left;
}
.right {
    padding-right: 0.5rem;
    flex-basis: 25%;
    justify-content: right;
}
#logo {
    --box-size: 1.7rem;
    font-size: 1.2rem;
    /* border: 1px solid black; */
    text-align: center;
    color: #fefefe;
    height: var(--box-size);
    line-height: var(--box-size);
    width: var(--box-size);
    vertical-align: middle;
    border-radius: 0.1rem;
    transition: box-shadow 250ms ease;
}
#logo:hover {
    box-shadow: 0 0 4px rgba(255,255,255,0.8);
}
.hnname {
    color: #222;
    font-weight: 700;
    padding: 0 0.5rem;
}
.nav-link {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    height: 100%;
    color: #222;
    text-transform: capitalize;
    transition: background-color 150ms ease;
}
.nav-link:hover {
    background-color: rgba(255,255,255,0.3);
}
.nav-link.username {
    text-transform: none;
}

/* POST */
.post {
    display: flex;
    width: 60em;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0.5em auto;
    height: 4.5rem;
    background-color: #fefefe;
    line-height: 1.2rem;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.1), 0 0 2px rgba(0,0,0,0.05);
}
@media (max-width: 59.9em) {
    .post {
        width: 98%
    }
}
.post > * {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    justify-content: center;
}

.title {
    flex-basis: 6%;
    opacity: 0.35;
}
.score {
    flex-direction: column;
    flex-basis: 7%;
    color: #6a6a6a;
}
.upvote {
    --arrow-size: 0.5rem;
	position: relative;
	background-color: #6a6a6a;
    transition: background-color 100ms ease;
}
.upvote:before,
.upvote:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.upvote,
.upvote:before,
.upvote:after {
	width:  var(--arrow-size);
	height: var(--arrow-size);
	border-top-right-radius: 30%;
}

.upvote {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.upvote:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.upvote:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
.score:hover .upvote, .upvoted {
    background-color: var(--orange);
}
.points {
    margin-top: 0.5rem;
}
.story {
    padding-left: 1rem;
    flex-basis: 60%;
    align-items: left;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.story-site {
    flex-basis: 25%;
    justify-content: right;
}

.post a {
    color: inherit;
    text-decoration: none;
    transition: color 75ms ease;
}
.post a:visited {
    color: #6a6a6a;
}
.post :not(.score) a:hover {
    color: var(--orange);
}
.post :not(.score) a::after {
    will-change: transform;
    content: "";
    display: block;
    background-color: #acacac;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    height: 1.1rem;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 150ms ease;
}

.post :not(.score) a:hover::after {
    width: 100%;
    transform: scaleX(1);
}

.info {
    opacity: 0.65;
}

.more-block {
    height: 2rem;
    width: 60em;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
}
@media (max-width: 59.9em) {
    .more-block {
        width: 98%
    }
}
.more-block a {
    background-color: #fbfbfb;
    display: flex;
    height: 100%;
    width: 100%;
    line-height: 100%;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    transition: all 150ms ease;
}
.more-block a:hover {
    background-color: #fdfdfd;
    color: #111;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
}


/* FOOTER */
footer {
    text-align: center;
    line-height: 1.2rem;
    padding-top: 0.5rem;
}

.footer-links {
    width: 98%;
}
.footer-link {
    padding: 0 0.5rem;
    color: inherit;
    text-decoration: none;
    line-height: 2rem;
    transition: color 150ms ease;
}
.footer-link:not(:last-of-type) {
    border-right: 1px solid #6a6a6a;
}
.footer-link:hover {
    color: var(--orange);
}